*{
    margin: 0;
    padding: 0;
}
div.txttitle{
    background: rgb(8, 159, 235);
    width: 100%;
}
h2.title{
    color: white;
    text-align: center;
}
p.ppt{
    font-size: 20px;
    margin:12px 7px 7px 7px;
    
}
td.head{
    background: rgb(11, 116, 214);
}
table,td{
    border: solid black;
   
}
.in{
    margin-left: 5%;
}
.inin{
    margin-left: 10%;
}
#homeo{
    background: transparent;
    width: 100px;
    margin-left: 700px;
    height: 400px;
    position: relative;
}
#homeo:active{
    
    width: 100px;
    height: 70px;
   
   margin-right: -100px;
}

.hero{
    background:transparent;
    height: 100vh;
    width: 100%;
    position: relative;
}
.hero h1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    color: white;
}
.slide-row{
    display: flex;
    width: 10000px;
    transition: 0.5s;
}
.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
   
    
}


.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    top: 30%;
    transform: translateY(-50%);
    z-index: 2;
    width: 200px;
    
}
.user-img img{
    height: 200px;
    border-radius: 100px;
    width: 200px;
}
.user-text{
    background: transparent;
    width: 570px;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
    color: rgb(12, 12, 12);
    padding: 25px;
    padding-top: 5px;
    box-sizing: border-box;
    
}
.user-text:hover{
    width: 800px;
    height: 505px;
    background-color: rgb(41, 122, 192);
    background-blend-mode: darken;
    overflow:visible;
    padding: 0;
    ~ .user-img img{
        display: none;
    }
    
   
}
.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.indicator{
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}
.btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: white;
    cursor: pointer;

}
.active{
    width: 45px;
}
.testmonial{
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: -35px;
    
}
.testmonial:hover{
   
    height: 100vh;    
}

a.con{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    border-radius: 7px;
    border: solid black;
    color: black;
}
a.con:hover{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    border-radius: 7px;
    border: solid brown;
    color: brown;
}